{% extends 'hospital/homebase.html' %}

{% block content %}

<br>
<br>
<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Bienvenue,aux medecins</h1>
  <p class="lead">PAGE DE CONNEXION ET D'INSCRIPTION POUR MEDECINS</p>
  <hr class="my-4">
  <p>Vous pouvez acceder à diverses fonctionnalités après votre connexion/inscription.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/doctorsignup" role="button">Créez un compte</a>
    <a class="btn btn-primary btn-lg" href="/doctorlogin" role="button">Connectez-vous</a>
  </p>
</div>

{% endblock content %}

